body {
	background: transparent;
}
@font-face {
	font-family: 'Prototype';
	src: url('fonts/Prototype.ttf') format('opentype');
}
@font-face {
	font-family: 'Aero';
	src: url('fonts/Aero.ttf') format('opentype');
}
/* KEYS */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes onlive {
  0% {
    padding: 0px;
	top: 0px;
	right: 0px;
	opacity: 1;
  }

  100% {
    padding: 8px;
	top: -8px;
	right: -8px;
	opacity: 0;
  }
}
.podium_team_column, .cell_team_column, .cell_pseudo_standing_2Drivers {
	display: none !important;
}
/* RESPONSIVE */
@media (orientation: landscape) {
	.standings_podium_name {
		font-size: 23px;
	}
	.standings_podium_details {
		font-size: 18px;
	}
	.standings_podium_number_first, .standings_podium_number_second, .standings_podium_number_third {
		font-size: 100px;
	}
	.standings_podium_number_first_team, .standings_podium_number_second_team, .standings_podium_number_third_team {
		font-size: 100px;
	}
	.standings_podium_cars, .standings_podium_logo {
		margin: auto;
	}
	.podium_driver_column {
		/* display: none; */
	}
	.podium_team_column, .cell_team_column, .cell_pseudo_standing_2Drivers {
		display: table-cell;
	}
	.standings_flag {
		display: table-cell;
	}
}
@media (orientation: portrait) {
	.standings_podium_name {
		font-size: 20px;
	}
	.standings_podium_details {
		font-size: 15px;
	}
	.standings_podium_number_first, .standings_podium_number_second, .standings_podium_number_third {
		font-size: 85px;
	}
	.standings_podium_number_first_team, .standings_podium_number_second_team, .standings_podium_number_third_team {
		font-size: 85px;
	}
	.standings_podium_cars {
		
	margin: auto;}
	.standings_podium_logo {
		margin: auto;
	}
	.podium_driver_column {
		display:none;
	}
	.podium_team_column, .cell_team_column, .cell_pseudo_standing_2Drivers {
		display: none;
	}
	.standings_flag {
		display: none;
	}
}
@media (max-width: 899px) {
	#standings {
		width: 100%;
	}
	#standings_podium {
		height: 150px;
		
		margin: auto;
	}
	#standings_navigation {
		height: 30px;
		line-height: 30px;
		font-size: 20px;
		margin-top: 30px;
		display: flex;
	}	
	.standings_podium_flag {
		display: none;
	}
	.standings_podium_number_first, .standings_podium_number_second, .standings_podium_number_third {
		bottom: -7px;
	}
	.standings_podium_number_first {	
		left: 7%;
	}
	.standings_podium_number_first_team, .standings_podium_number_second_team, .standings_podium_number_third_team {
		bottom: -7px;
	}
	.standings_podium_number_first_team {	
		left: 7%;
	}
	.podium_nationality_column {
		display: none;
	}
	.standings_podium_logo {
		display: none;
	}
}
@media (min-width: 900px) and (max-width: 1199px) {
	#standings {
		width: 850px;
	}
	#standings_podium {
		height: 160px;
	}
	#standings_navigation {
		height: 40px;
		line-height: 40px;
		font-size: 25px;
		margin-top: 25px;
		display: block;
	}
	.standings_podium_name {
		font-size: 26px;
	}
	.standings_podium_flag {
		display: block;
	}
	.standings_podium_details {
		font-size: 20px;
	}
	.standings_podium_number_first, .standings_podium_number_second, .standings_podium_number_third {
		font-size: 100px;
		bottom: -12px;
	}
	.standings_podium_number_first {	
		left: 25px;
	}
	.standings_podium_number_first_team, .standings_podium_number_second_team, .standings_podium_number_third_team {
		font-size: 100px;
		bottom: -12px;
	}
	.standings_podium_number_first_team {	
		left: 25px;
	}
	.standings_podium_cars, .standings_podium_logo {
		margin: auto;
	}
	.podium_nationality_column {
		display: table-cell;
	}
	.podium_driver_column {
		/* display: none; */
	}
	.podium_team_column, .cell_team_column, .cell_pseudo_standing_2Drivers {
		display: table-cell;
	}
	.standings_flag {
		display: table-cell;
	}
	.standings_podium_logo {
		max-width: 110px;
		max-height: 110px;
		display: block;
	}
	.new_icon {
		width: 54px;
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	#standings {
		width: 1150px;
	}
	#standings_podium {
		height: 200px;
	}
	.standings_podium_name {
		font-size: 29px;
	}
	.standings_podium_flag {
		display: block;
	}
	.standings_podium_details {
		font-size: 22px;
	}
	.standings_podium_number_first, .standings_podium_number_second, .standings_podium_number_third {
		font-size: 130px;
		bottom: -15px;
	}
	.standings_podium_number_first {	
		left: 40px;
	}
	.standings_podium_number_first_team, .standings_podium_number_second_team, .standings_podium_number_third_team {
		font-size: 130px;
		bottom: -15px;
	}
	.standings_podium_number_first_team {	
		left: 40px;
	}
	.standings_podium_cars, .standings_podium_logo {
		margin: auto;
	}
	.podium_nationality_column {
		display: table-cell;
	}
	.podium_driver_column {
		display: table-cell;
	}
	.podium_team_column, .cell_team_column, .cell_pseudo_standing_2Drivers {
		display: table-cell;
	}
	.standings_flag {
		display: table-cell;
	}
	.standings_podium_logo {
		max-width: 150px;
		max-height: 150px;
		display: block;
	}
	.new_icon {
		width: 54px;
	}
}
@media(min-width: 1400px) and (max-width: 2099px) {
	#standings_podium {
		height: 250px;
	}
	.standings_podium_name {
		font-size: 32px;
	}
	.standings_podium_flag {
		display: block;
	}
	.standings_podium_details {
		font-size: 24px;
	}
	.standings_podium_number_first, .standings_podium_number_second, .standings_podium_number_third {
		font-size: 150px;
		bottom: -18px;
	}
	.standings_podium_number_first {	
		left: 45px;
	}
	.standings_podium_number_first_team, .standings_podium_number_second_team, .standings_podium_number_third_team {
		font-size: 150px;
		bottom: -18px;
	}
	.standings_podium_number_first_team {	
		left: 45px;
	}
	.standings_podium_cars, .standings_podium_logo {
		margin: auto;
	}
	.podium_nationality_column {
		display: table-cell;
	}
	.podium_driver_column {
		display: table-cell;
	}
	.podium_team_column, .cell_team_column, .cell_pseudo_standing_2Drivers {
		display: table-cell;
	}
	.standings_flag {
		display: table-cell;
	}
	.standings_podium_logo {
		max-width: 180px;
		max-height: 180px;
		display: block;
	}
	.new_icon {
		width: 54px;
	}
}
@media(min-width: 2100px) {
	#standings {
		width: 2050px;
	}
	#standings_podium {
		height: 300px;
	}
	.standings_podium_name {
		font-size: 35px;
	}
	.standings_podium_flag {
		display: block;
	}
	.standings_podium_details {
		font-size: 26px;
	}
	.standings_podium_number_first, .standings_podium_number_second, .standings_podium_number_third {
		font-size: 200px;
		bottom: -25px;
	}
	.standings_podium_number_first {	
		left: 45px;
	}
	.standings_podium_number_first_team, .standings_podium_number_second_team, .standings_podium_number_third_team {
		font-size: 200px;
		bottom: -25px;
	}
	.standings_podium_number_first_team {	
		left: 45px;
	}
	.standings_podium_cars, .standings_podium_logo {
		margin: auto;
	}
	.podium_nationality_column {
		display: table-cell;
	}
	.podium_driver_column {
		display: table-cell;
	}
	.podium_team_column, .cell_team_column, .cell_pseudo_standing_2Drivers {
		display: table-cell;
	}
	.standings_flag {
		display: table-cell;
	}
	.standings_podium_logo {
		max-width: 200px;
		max-height: 200px;
		display: block;
	}
	.new_icon {
		width: 54px;
	}
}
/* STANDINGS */
#standings {
	margin: auto;
	padding-top: 130px;
	transition: 0.3s;
	overflow: hidden;
}
#standings_podium {
	position: relative;
	font-size: 0px;
	transition: 0.3s;
}
#standings_podium_second, #standings_podium_third {
	width: 30%;
	display:inline-block;
	height: 65%;
	vertical-align: bottom;
}
#standings_podium_first {
	width: 40%;
	display:inline-block;
	height: 95%;
	vertical-align: bottom;
}
#standings_podium_car_center {
	width: 100%;
	margin-left: 20px;
	position: absolute;
	bottom: 7px;
}
#standings_podium_logo_center {
	width: 100%;
	position: absolute;
	bottom: 7px;
}
#standings_podium_support_second, #standings_podium_support_third {
	background-color: #3d3d3d;
	color: white;
	height: 65%;
	position: relative;
	font-family: Prototype;
}
#standings_podium_support_first {
	background-color: #4b4b4b;
	color: white;
	height: 65%;
	position: relative;
	font-family: Prototype;
}
#standings_podium_support_second::before {
	background-color: #b2bec3;
	height: 32px;
	position: absolute;
	content: "";
	width: 100%;
	transform: skew(-45deg);
	top: -31px;
	z-index: -2;
	left: 15px;
}
#standings_podium_support_first::before {
	background-color: #ffd32a;
	height: 32px;
	position: absolute;
	content: "";
	width: 50%;
	transform: skew(-45deg);
	top: -31px;
	z-index: -1;
	left: 15px;
}
#standings_podium_support_first::after {
	background-color: #ffd32a;
	height: 32px;
	position: absolute;
	content: "";
	width: 50%;
	transform: skew(45deg);
	top: -31px;
	z-index: -1;
	right: 15px;
}
#standings_podium_support_third::before {
	background-color: #e58e26;
	height: 32px;
	position: absolute;
	content: "";
	width: 100%;
	transform: skew(45deg);
	top: -31px;
	z-index: -2;
	right: 15px;
}
#standings_podium_support_name {
	font-family: LemonMilkRegular;
	font-size: 22px;
	text-align: center;
	display: block;
	height: 100%;
	line-height: 34px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#standings_podium_car {
	position: relative;
	width: 100%;
	height: 35%;
}
#standings_podium_name {
	display: flex;
	height: 100%;
	flex-direction: column;
}
#standings_table {
	margin-bottom: 70px;
}
#standings_table > div > table {
	width: 100%;
	text-align: center;
	margin-top: -12px;
	border-collapse: separate;
	border-spacing: 0px;
}
#standings_table > div > table > thead {
	font-family: Prototype;
	font-size: 20px;
	background-color: #3d3d3d;
	color: #fff;
}
#standings_table > div > table > thead > tr > th {
	height: 40px;
font-weight: 100;}
#standings_table > div > table > tbody {
	font-family: AvenirNextCyrLight;
	font-size: 20px;
	color: #1e272e;
	background-color: rgba(241, 242, 246,0.3);
}
#standings_table > div > table > tbody > tr {
	height: 60px;
	box-shadow: 0px 1px #dfe4ea;
	transition: 0.3s;
	cursor: default;
	display: none;
}
#standings_table > div > table > tbody > tr:hover {
	height: 60px;
	background-color: #dfe4ea;
}
#standings_table > div > table > tbody > tr > td {
	position: relative;
}
#standings_table > div > table > tbody > tr > td > a {
	vertical-align: middle;
	text-decoration: none;
	color: #3d3d3d;
}
#standings_position {
	font-size: 25px;
	font-family: Prototype;
	background-color: #3d3d3d;
	color: #FFF;
	width: 30%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 60px;
}
#standings_own_position {
	font-size: 25px;
	font-family: Prototype;
	background-color: #c23616;
	color: #FFF;
	width: 30%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 60px;
}
#standings_last_position, #standings_last_own_position {
	width: 70%;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
}
#standings_last_position::before {
	content: "";
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 15px solid #3d3d3d;
	position: absolute;
	left: 0;
	top: 0;
}
#standings_last_own_position::before {
	content: "";
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 15px solid #c23616;
	position: absolute;
	left: 0;
	top: 0;	
}
#standings_own_tr {
	background-color: #dfe4ea;
}
#button_view_full_standings {
	text-align: center;
	display: block;
	margin-top: 4%;
}
.standings_table_navigation::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 100%;
	background: #FFF;
	height: 100%;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.standings_table_navigation:hover::before {
	top: 0;
}
.standings_table_navigation_active::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	background: #FFF;
	height: 100%;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.standings_table_navigation_active {
	background-color: #FFF;
	color: #3d3d3d;
	word-wrap: anywhere;
}
.standings_table_navigation {
	color: #FFF;
	word-wrap: anywhere;
}
.standings_table_navigation:hover {
	color: #3d3d3d;
}
.podium_driver_column {
	width: 150px;
	padding-right: 20px;
}
.standings_cars {
	width: 100%;
	position: relative;
	vertical-align: middle;
}
.standings_podium_cars {
	width: 70%;
	display: block;
	position: relative;
	z-index: 1;
	transition: 0.3s;
}
.standings_podium_logo {
	position: relative;
	z-index: 1;
	transition: 0.3s;
}
.standings_points {
	font-family: Prototype;
	color: #3d3d3d;
}
.standings_top_last_position {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #44bd32;
	position: absolute;
	top: calc(50% - 6px);
}
.standings_down_last_position {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 12px solid #de0505;
	position: absolute;
	top: calc(50% - 6px);
}
.standings_null_last_position {
	position: absolute;
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	border-radius: 20px;
	background-color: #4b4b4b;
	margin-left: 2px;
}
.position_column {
	width: 150px;
}
.standings_flag {
	max-height: 48px;
	max-width: 48px;
	vertical-align: middle;
	margin-right: 10px;
	display: inline-block;
	width: min-content;
}
.standings_flag_2Drivers {
	height: 28px;
	vertical-align: middle;
	margin-right: 10px;
}
.standings_podium_number_second {
	font-family: Aero;
	position: absolute;
	left: 15px;
	z-index: 0;
	color: white;
	-webkit-text-stroke: 2px #b2bec3;
	transition: 0.3s;
}
.standings_podium_number_first {
	font-family: Aero;
	position: absolute;
	z-index: 0;
	color: white;
	-webkit-text-stroke: 2px #ffd32a;
	transition: 0.3s;
}
.standings_podium_number_third {
	font-family: Aero;
	position: absolute;
	left: -5px;
	z-index: 0;
	color: white;
	-webkit-text-stroke: 2px #e58e26;
	transition: 0.3s;
}
.standings_podium_number_second_team {
	font-family: Aero;
	position: absolute;
	left: 15px;
	z-index: 0;
	color: white;
	-webkit-text-stroke: 2px #b2bec3;
	transition: 0.3s;
	margin-left: 20px;
}
.standings_podium_number_first_team {
	font-family: Aero;
	position: absolute;
	z-index: 0;
	color: white;
	-webkit-text-stroke: 2px #ffd32a;
	transition: 0.3s;
	margin-left: 20px;
}
.standings_podium_number_third_team {
	font-family: Aero;
	position: absolute;
	left: -5px;
	z-index: 0;
	color: white;
	-webkit-text-stroke: 2px #e58e26;
	transition: 0.3s;
	margin-left: 20px;
}
.standings_podium_flag {
	height: 40px;
	position: relative;
	margin: auto;
	margin-right: 20px;
	transition: 0.3s;
}
.standings_podium_name {
	margin: auto;
	display: flex;
	transition: 0.3s;
	text-decoration: none;
	color: #fff;
	font-family: Prototype;
}
.standings_podium_details {
	font-family: Prototype;
	transition: 0.3s;
}
.cell_pseudo_standing {
	font-size: 24px;
	white-space: nowrap;
	font-family: Prototype;
	color: #3d3d3d;	
	text-align: left;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cell_pseudo_standing_2Drivers {
	font-size: 21px;
	white-space: nowrap;
	font-family: Prototype;
	color: #3d3d3d;	
	text-align: left;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.podium_flag_column {
	text-align: left;
}
.podium_team_column {
	text-align: left;
}
.cell_team_column {
	text-align: left;
	font-size: 24px;
	white-space: nowrap;
	font-family: Prototype;
	color: #3d3d3d;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.new_icon {
	position: absolute;
	right: -2px;
	top: -2px;
}

#fullstandings{
	display:none;
}
